/// colors ////
$brightBlue: #38bdff;
$mediumBlue: #113da3; /// nav ///
$higherBlue: #002f9d;
$greyDarkBlue: #021f59;
$greyLight: #777474;

////  flexbox /////

@mixin flexCenter($dirE, $wrapD) {
  display: flex;
  flex-direction: $dirE;
  flex-wrap: $wrapD;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* open sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* all properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/////   navbar ///////

@import "./navbar";

/////  hero /////

@import "./hero";

///// fly smart ////

@import "./flySmart";

//// blue carsds with offers ////

@import "./blecards";

//// small white break ///

@import "./smallBreak";

///// card tab bar ///

@import "./cardTabBar";

//// footer ////

@import "./footer";

// media querry Tablet ////

@import "./mediaTab";

////// mobile //////

@import "./mobile";

////// login /////
@import "./login";
